body{
    background-color:snow;
}

#navdiv{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
#navdiv>a{
    text-decoration: none;
    margin: 15px;
    color:black;
    font-size: 20px;
}
.material-symbols-outlined{
    margin-left: 2px;
    margin-top: 15px;
}
.material-symbols-outlined{
    margin: 10px;
    margin-left: 2px;
    margin-top: 15px;
}
#div1{
    display: flex;
    justify-content:center;
    margin-top: 70px;
}
#div2>h1{
    font-size: 20px;
}
#div3{
     margin-right: 50px;
}
.img1{
    width: 400px;
    height: 300px;
    margin: 20px;

    
}
.btn1{
    background-color: black;
    color: white;
    width:150px ;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}
#div2>h1{
    font-size: 40px;
}
#div2>p{
    font-size: 25px;
    margin-top: 20px;
}
#maindiv{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.headshow{
   rotate: -90deg;
  margin-bottom: 200px;
}
#div11{
    text-align: center;
    background-color: white;
    
}
#div22{
    text-align: center;
    background-color:white;
}
#div33{
    text-align: center;
    background-color: white;  
}
.img2{
width: 300px;
height: 350px;

}
.img3{
    width: 300px;
    height: 350px;
    }
.img4{
        width: 300px;
        height: 350px;
 }
 
 #div44{
    text-align: center;
    margin-top: 150px;
    border-color: black;
 }